@font-face {
  font-family: "iconfont"; /* Project id 3490530 */
  src: url('iconfont.woff2?t=1656485785631') format('woff2'),
       url('iconfont.woff?t=1656485785631') format('woff'),
       url('iconfont.ttf?t=1656485785631') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-github:before {
  content: "\e691";
}

.icon-recall:before {
  content: "\e622";
}

.icon-tubiaozhizuomoban-:before {
  content: "\e608";
}

.icon-time-reverse:before {
  content: "\e87f";
}

.icon-refresh:before {
  content: "\e600";
}

.icon-git:before {
  content: "\e61b";
}

.icon-docker:before {
  content: "\e659";
}

.icon-f-problem:before {
  content: "\e782";
}

.icon-vue:before {
  content: "\e69a";
}

.icon-frame:before {
  content: "\e67a";
}

.icon-navigation:before {
  content: "\e67b";
}

.icon-problem-fill:before {
  content: "\ea05";
}

.icon-open-source-fill:before {
  content: "\e7ce";
}

.icon-home:before {
  content: "\e6ac";
}

.icon-other:before {
  content: "\e631";
}

.icon-django:before {
  content: "\e677";
}

.icon-read-fill:before {
  content: "\e861";
}

.icon-python:before {
  content: "\f216";
}

.icon-code:before {
  content: "\eb15";
}

.icon-spider:before {
  content: "\eba0";
}

